<div class='flex flex-col max-h-[65vh] overflow-y-auto'>
  {{#each data}}
    <div class='my-2 cursor-pointer'>

      <div class="text-start">
        <p class='param-date' data-raw='{{this.date_update}}'></p>
        <h2 class='ms-3 text-sm font-medium'>Izoh: {{this.izoh}}</h2>
        <hr />
      </div>
    </div>
  {{/each}}
</div>
<div class='border-t py-4 flex space-x-3'>
  <button
    style='background-color: #00a0c6;'
    onclick='save_update_parametr({{data.id}})'
    type='button'
    class='transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-success text-white dark:border-danger w-24'
  >Сақлаш</button>
  <button
    data-tw-merge=''
    data-tw-dismiss='modal'
    type='button'
    class='transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed border-secondary text-slate-500 dark:border-darkmode-100/40 dark:text-slate-300 [&:hover:not(:disabled)]:bg-secondary/20 [&:hover:not(:disabled)]:dark:bg-darkmode-100/10 mr-1 w-24'
  >Ёпиш</button>
</div>