<div class="md:max-w-auto min-h-screen min-w-0 max-w-full flex-1 rounded-[30px] bg-slate-100 px-4 pb-10 before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]">
            <!-- BEGIN: Top Bar -->

            <!-- END: Top Bar -->
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12 2xl:col-span-12">
    <center>
        <a href="/employers/online" class="transition duration-200 border shadow-sm items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary m-2 mb-2 mr-1 inline-block w-100">Комбинат (Марказ)</a>
        <a href="/employers/online" class="transition duration-200 border shadow-sm items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary m-2 mb-2 mr-1 inline-block w-100">Филиал 1</a>
        <a href="/employers/online" class="transition duration-200 border shadow-sm items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary m-2 mb-2 mr-1 inline-block w-100">Филиал 2</a>
        <a href="/employers/online" class="transition duration-200 border shadow-sm items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary m-2 mb-2 mr-1 inline-block w-100">Филиал 3</a>
        <h1 class="text-4xl font-medium leading-none text-primary">Комбинат (Марказ)</h1>
        <table>
            <tbody><tr>

                <td>
                    <h3 class="text-4xl font-medium leading-none text-success">Худуд ичида - 352&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                </td>
                <td>
                    <h3 class="text-4xl font-medium leading-none text-danger">Худуддан ташқарида - 12</h3>
                </td>
            </tr>
        </tbody></table>


    </center>
    <div class="grid grid-cols-12 gap-6">
        <!-- BEGIN: General Report -->
        <div class="col-span-12 mt-8">




            <h1 class="text-primary">Худуд ичида</h1>
            <div class="intro-y mt-5 grid grid-cols-12 gap-3 sm:gap-6">
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov U.<br>
                    <span style="color: green;font-size: 0.8em">09:56 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov O.<br>
                    <span style="color: green;font-size: 0.8em">10:54 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov J.<br>
                    <span style="color: green;font-size: 0.8em">10:19 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov H.<br>
                    <span style="color: green;font-size: 0.8em">10:06 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Qodirov A.<br>
                    <span style="color: green;font-size: 0.8em">10:23 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov R.<br>
                    <span style="color: green;font-size: 0.8em">10:11 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov D.<br>
                    <span style="color: green;font-size: 0.8em">10:17 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov H.<br>
                    <span style="color: green;font-size: 0.8em">10:29 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov A.<br>
                    <span style="color: green;font-size: 0.8em">10:25 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov R.<br>
                    <span style="color: green;font-size: 0.8em">10:45 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov R.<br>
                    <span style="color: green;font-size: 0.8em">10:10 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Yuldashev B.<br>
                    <span style="color: green;font-size: 0.8em">10:30 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov H.<br>
                    <span style="color: green;font-size: 0.8em">10:28 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov A.<br>
                    <span style="color: green;font-size: 0.8em">10:38 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Karimov S.<br>
                    <span style="color: green;font-size: 0.8em">10:09 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov U.<br>
                    <span style="color: green;font-size: 0.8em">10:19 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Karimov S.<br>
                    <span style="color: green;font-size: 0.8em">10:06 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Qodirov J.<br>
                    <span style="color: green;font-size: 0.8em">10:36 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov H.<br>
                    <span style="color: green;font-size: 0.8em">10:40 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov R.<br>
                    <span style="color: green;font-size: 0.8em">10:40 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov S.<br>
                    <span style="color: green;font-size: 0.8em">10:48 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov R.<br>
                    <span style="color: green;font-size: 0.8em">10:45 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov S.<br>
                    <span style="color: green;font-size: 0.8em">10:35 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Qodirov A.<br>
                    <span style="color: green;font-size: 0.8em">10:00 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov U.<br>
                    <span style="color: green;font-size: 0.8em">10:01 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Yuldashev R.<br>
                    <span style="color: green;font-size: 0.8em">10:31 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Rakhmatov R.<br>
                    <span style="color: green;font-size: 0.8em">10:50 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Qodirov H.<br>
                    <span style="color: green;font-size: 0.8em">10:38 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov U.<br>
                    <span style="color: green;font-size: 0.8em">10:36 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Karimov J.<br>
                    <span style="color: green;font-size: 0.8em">10:41 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov A.<br>
                    <span style="color: green;font-size: 0.8em">10:36 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Karimov O.<br>
                    <span style="color: green;font-size: 0.8em">09:55 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Nazarov O.<br>
                    <span style="color: green;font-size: 0.8em">10:30 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Nazarov D.<br>
                    <span style="color: green;font-size: 0.8em">10:53 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Yuldashev O.<br>
                    <span style="color: green;font-size: 0.8em">10:29 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov H.<br>
                    <span style="color: green;font-size: 0.8em">10:14 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Yuldashev A.<br>
                    <span style="color: green;font-size: 0.8em">10:44 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Yuldashev R.<br>
                    <span style="color: green;font-size: 0.8em">10:47 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov A.<br>
                    <span style="color: green;font-size: 0.8em">10:16 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov O.<br>
                    <span style="color: green;font-size: 0.8em">10:30 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov U.<br>
                    <span style="color: green;font-size: 0.8em">10:14 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov S.<br>
                    <span style="color: green;font-size: 0.8em">09:59 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Karimov S.<br>
                    <span style="color: green;font-size: 0.8em">10:51 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov U.<br>
                    <span style="color: green;font-size: 0.8em">10:04 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Qodirov U.<br>
                    <span style="color: green;font-size: 0.8em">10:10 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov O.<br>
                    <span style="color: green;font-size: 0.8em">10:42 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov A.<br>
                    <span style="color: green;font-size: 0.8em">10:26 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov S.<br>
                    <span style="color: green;font-size: 0.8em">10:06 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov J.<br>
                    <span style="color: green;font-size: 0.8em">10:40 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Yuldashev R.<br>
                    <span style="color: green;font-size: 0.8em">10:26 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov J.<br>
                    <span style="color: green;font-size: 0.8em">10:46 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Qodirov H.<br>
                    <span style="color: green;font-size: 0.8em">10:28 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov A.<br>
                    <span style="color: green;font-size: 0.8em">10:53 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Nazarov H.<br>
                    <span style="color: green;font-size: 0.8em">10:45 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Qodirov B.<br>
                    <span style="color: green;font-size: 0.8em">10:03 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov U.<br>
                    <span style="color: green;font-size: 0.8em">10:16 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Islomov A.<br>
                    <span style="color: green;font-size: 0.8em">10:42 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Karimov R.<br>
                    <span style="color: green;font-size: 0.8em">10:15 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov D.<br>
                    <span style="color: green;font-size: 0.8em">10:45 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov S.<br>
                    <span style="color: green;font-size: 0.8em">10:10 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Nazarov S.<br>
                    <span style="color: green;font-size: 0.8em">10:07 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov R.<br>
                    <span style="color: green;font-size: 0.8em">10:21 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Yuldashev H.<br>
                    <span style="color: green;font-size: 0.8em">10:38 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov R.<br>
                    <span style="color: green;font-size: 0.8em">10:23 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Qodirov S.<br>
                    <span style="color: green;font-size: 0.8em">10:34 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Qodirov A.<br>
                    <span style="color: green;font-size: 0.8em">10:06 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Islomov S.<br>
                    <span style="color: green;font-size: 0.8em">10:19 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Nazarov A.<br>
                    <span style="color: green;font-size: 0.8em">10:33 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Nazarov S.<br>
                    <span style="color: green;font-size: 0.8em">10:03 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Rakhmatov D.<br>
                    <span style="color: green;font-size: 0.8em">10:35 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov A.<br>
                    <span style="color: green;font-size: 0.8em">10:49 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Karimov S.<br>
                    <span style="color: green;font-size: 0.8em">09:58 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Nazarov R.<br>
                    <span style="color: green;font-size: 0.8em">10:25 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov H.<br>
                    <span style="color: green;font-size: 0.8em">10:10 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Karimov J.<br>
                    <span style="color: green;font-size: 0.8em">10:37 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov J.<br>
                    <span style="color: green;font-size: 0.8em">10:38 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov S.<br>
                    <span style="color: green;font-size: 0.8em">10:46 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Qodirov J.<br>
                    <span style="color: green;font-size: 0.8em">09:57 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Qodirov O.<br>
                    <span style="color: green;font-size: 0.8em">10:49 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Yuldashev J.<br>
                    <span style="color: green;font-size: 0.8em">10:34 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov B.<br>
                    <span style="color: green;font-size: 0.8em">10:49 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Rakhmatov U.<br>
                    <span style="color: green;font-size: 0.8em">10:34 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov S.<br>
                    <span style="color: green;font-size: 0.8em">10:43 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov O.<br>
                    <span style="color: green;font-size: 0.8em">10:12 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov D.<br>
                    <span style="color: green;font-size: 0.8em">10:48 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Yuldashev D.<br>
                    <span style="color: green;font-size: 0.8em">10:40 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov R.<br>
                    <span style="color: green;font-size: 0.8em">10:50 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Islomov B.<br>
                    <span style="color: green;font-size: 0.8em">10:16 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov R.<br>
                    <span style="color: green;font-size: 0.8em">10:38 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Karimov S.<br>
                    <span style="color: green;font-size: 0.8em">10:25 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Islomov R.<br>
                    <span style="color: green;font-size: 0.8em">10:25 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/4.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Karimov O.<br>
                    <span style="color: green;font-size: 0.8em">10:43 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Xolmatov S.<br>
                    <span style="color: green;font-size: 0.8em">10:46 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/3.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov H.<br>
                    <span style="color: green;font-size: 0.8em">10:34 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov H.<br>
                    <span style="color: green;font-size: 0.8em">10:20 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Nazarov U.<br>
                    <span style="color: green;font-size: 0.8em">10:54 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/5.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Azizov J.<br>
                    <span style="color: green;font-size: 0.8em">10:02 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov U.<br>
                    <span style="color: green;font-size: 0.8em">10:05 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/1.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Tursunov S.<br>
                    <span style="color: green;font-size: 0.8em">10:38 07.05.2025</span>



                </div>
            </div>
            
            <div class="intro-x">
                <div class="box zoom-in relative rounded-md ">

                    <img src="../../../public/photo/2.jpg" alt="" class="rounded-md w-100" width="100%">
                    <br>
                        Shukurov B.<br>
                    <span style="color: green;font-size: 0.8em">10:24 07.05.2025</span>



                </div>
            </div>
                            </div>
            <h1 class="text-danger">Худуддан ташқарида</h1>
            <div class="intro-y mt-5 grid grid-cols-12 gap-3 sm:gap-6">
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov U.<br>
                        <span style="color: red;font-size: 0.8em">09:56 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov O.<br>
                        <span style="color: red;font-size: 0.8em">10:54 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov J.<br>
                        <span style="color: red;font-size: 0.8em">10:19 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov H.<br>
                        <span style="color: red;font-size: 0.8em">10:06 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Qodirov A.<br>
                        <span style="color: red;font-size: 0.8em">10:23 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov R.<br>
                        <span style="color: red;font-size: 0.8em">10:11 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov D.<br>
                        <span style="color: red;font-size: 0.8em">10:17 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov H.<br>
                        <span style="color: red;font-size: 0.8em">10:29 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov A.<br>
                        <span style="color: red;font-size: 0.8em">10:25 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov R.<br>
                        <span style="color: red;font-size: 0.8em">10:45 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov R.<br>
                        <span style="color: red;font-size: 0.8em">10:10 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Yuldashev B.<br>
                        <span style="color: red;font-size: 0.8em">10:30 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov H.<br>
                        <span style="color: red;font-size: 0.8em">10:28 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov A.<br>
                        <span style="color: red;font-size: 0.8em">10:38 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Karimov S.<br>
                        <span style="color: red;font-size: 0.8em">10:09 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov U.<br>
                        <span style="color: red;font-size: 0.8em">10:19 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Karimov S.<br>
                        <span style="color: red;font-size: 0.8em">10:06 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Qodirov J.<br>
                        <span style="color: red;font-size: 0.8em">10:36 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov H.<br>
                        <span style="color: red;font-size: 0.8em">10:40 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov R.<br>
                        <span style="color: red;font-size: 0.8em">10:40 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov S.<br>
                        <span style="color: red;font-size: 0.8em">10:48 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov R.<br>
                        <span style="color: red;font-size: 0.8em">10:45 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov S.<br>
                        <span style="color: red;font-size: 0.8em">10:35 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Qodirov A.<br>
                        <span style="color: red;font-size: 0.8em">10:00 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov U.<br>
                        <span style="color: red;font-size: 0.8em">10:01 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Yuldashev R.<br>
                        <span style="color: red;font-size: 0.8em">10:31 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Rakhmatov R.<br>
                        <span style="color: red;font-size: 0.8em">10:50 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Qodirov H.<br>
                        <span style="color: red;font-size: 0.8em">10:38 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov U.<br>
                        <span style="color: red;font-size: 0.8em">10:36 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Karimov J.<br>
                        <span style="color: red;font-size: 0.8em">10:41 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov A.<br>
                        <span style="color: red;font-size: 0.8em">10:36 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Karimov O.<br>
                        <span style="color: red;font-size: 0.8em">09:55 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Nazarov O.<br>
                        <span style="color: red;font-size: 0.8em">10:30 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Nazarov D.<br>
                        <span style="color: red;font-size: 0.8em">10:53 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Yuldashev O.<br>
                        <span style="color: red;font-size: 0.8em">10:29 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov H.<br>
                        <span style="color: red;font-size: 0.8em">10:14 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Yuldashev A.<br>
                        <span style="color: red;font-size: 0.8em">10:44 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Yuldashev R.<br>
                        <span style="color: red;font-size: 0.8em">10:47 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov A.<br>
                        <span style="color: red;font-size: 0.8em">10:16 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov O.<br>
                        <span style="color: red;font-size: 0.8em">10:30 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov U.<br>
                        <span style="color: red;font-size: 0.8em">10:14 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov S.<br>
                        <span style="color: red;font-size: 0.8em">09:59 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Karimov S.<br>
                        <span style="color: red;font-size: 0.8em">10:51 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov U.<br>
                        <span style="color: red;font-size: 0.8em">10:04 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Qodirov U.<br>
                        <span style="color: red;font-size: 0.8em">10:10 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov O.<br>
                        <span style="color: red;font-size: 0.8em">10:42 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov A.<br>
                        <span style="color: red;font-size: 0.8em">10:26 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov S.<br>
                        <span style="color: red;font-size: 0.8em">10:06 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov J.<br>
                        <span style="color: red;font-size: 0.8em">10:40 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Yuldashev R.<br>
                        <span style="color: red;font-size: 0.8em">10:26 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov J.<br>
                        <span style="color: red;font-size: 0.8em">10:46 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Qodirov H.<br>
                        <span style="color: red;font-size: 0.8em">10:28 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov A.<br>
                        <span style="color: red;font-size: 0.8em">10:53 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Nazarov H.<br>
                        <span style="color: red;font-size: 0.8em">10:45 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Qodirov B.<br>
                        <span style="color: red;font-size: 0.8em">10:03 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov U.<br>
                        <span style="color: red;font-size: 0.8em">10:16 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Islomov A.<br>
                        <span style="color: red;font-size: 0.8em">10:42 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Karimov R.<br>
                        <span style="color: red;font-size: 0.8em">10:15 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov D.<br>
                        <span style="color: red;font-size: 0.8em">10:45 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov S.<br>
                        <span style="color: red;font-size: 0.8em">10:10 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Nazarov S.<br>
                        <span style="color: red;font-size: 0.8em">10:07 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov R.<br>
                        <span style="color: red;font-size: 0.8em">10:21 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Yuldashev H.<br>
                        <span style="color: red;font-size: 0.8em">10:38 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov R.<br>
                        <span style="color: red;font-size: 0.8em">10:23 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Qodirov S.<br>
                        <span style="color: red;font-size: 0.8em">10:34 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Qodirov A.<br>
                        <span style="color: red;font-size: 0.8em">10:06 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Islomov S.<br>
                        <span style="color: red;font-size: 0.8em">10:19 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Nazarov A.<br>
                        <span style="color: red;font-size: 0.8em">10:33 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Nazarov S.<br>
                        <span style="color: red;font-size: 0.8em">10:03 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Rakhmatov D.<br>
                        <span style="color: red;font-size: 0.8em">10:35 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov A.<br>
                        <span style="color: red;font-size: 0.8em">10:49 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Karimov S.<br>
                        <span style="color: red;font-size: 0.8em">09:58 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Nazarov R.<br>
                        <span style="color: red;font-size: 0.8em">10:25 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov H.<br>
                        <span style="color: red;font-size: 0.8em">10:10 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Karimov J.<br>
                        <span style="color: red;font-size: 0.8em">10:37 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov J.<br>
                        <span style="color: red;font-size: 0.8em">10:38 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov S.<br>
                        <span style="color: red;font-size: 0.8em">10:46 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Qodirov J.<br>
                        <span style="color: red;font-size: 0.8em">09:57 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Qodirov O.<br>
                        <span style="color: red;font-size: 0.8em">10:49 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Yuldashev J.<br>
                        <span style="color: red;font-size: 0.8em">10:34 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov B.<br>
                        <span style="color: red;font-size: 0.8em">10:49 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Rakhmatov U.<br>
                        <span style="color: red;font-size: 0.8em">10:34 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov S.<br>
                        <span style="color: red;font-size: 0.8em">10:43 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov O.<br>
                        <span style="color: red;font-size: 0.8em">10:12 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov D.<br>
                        <span style="color: red;font-size: 0.8em">10:48 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Yuldashev D.<br>
                        <span style="color: red;font-size: 0.8em">10:40 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov R.<br>
                        <span style="color: red;font-size: 0.8em">10:50 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Islomov B.<br>
                        <span style="color: red;font-size: 0.8em">10:16 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov R.<br>
                        <span style="color: red;font-size: 0.8em">10:38 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Karimov S.<br>
                        <span style="color: red;font-size: 0.8em">10:25 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Islomov R.<br>
                        <span style="color: red;font-size: 0.8em">10:25 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/4.jpg" alt="" class="rounded-md">
                        <br>
                        Karimov O.<br>
                        <span style="color: red;font-size: 0.8em">10:43 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Xolmatov S.<br>
                        <span style="color: red;font-size: 0.8em">10:46 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/3.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov H.<br>
                        <span style="color: red;font-size: 0.8em">10:34 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov H.<br>
                        <span style="color: red;font-size: 0.8em">10:20 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Nazarov U.<br>
                        <span style="color: red;font-size: 0.8em">10:54 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/5.jpg" alt="" class="rounded-md">
                        <br>
                        Azizov J.<br>
                        <span style="color: red;font-size: 0.8em">10:02 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov U.<br>
                        <span style="color: red;font-size: 0.8em">10:05 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/1.jpg" alt="" class="rounded-md">
                        <br>
                        Tursunov S.<br>
                        <span style="color: red;font-size: 0.8em">10:38 07.05.2025</span>



                    </div>
                </div>
                
                <div class="intro-y">
                    <div class="box zoom-in relative rounded-md ">

                        <img src="../../../public/photo/2.jpg" alt="" class="rounded-md">
                        <br>
                        Shukurov B.<br>
                        <span style="color: red;font-size: 0.8em">10:24 07.05.2025</span>



                    </div>
                </div>
                            </div>
        </div>

    </div>
</div>
            </div>
        </div>