<div class="md:max-w-auto min-h-screen min-w-0 max-w-full flex-1 rounded-[30px] bg-slate-100 px-4 pb-10 before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]">
            <!-- BEGIN: Top Bar -->

            <!-- END: Top Bar -->
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12 2xl:col-span-12">
    <center>
        <a href="" class="transition duration-200 border shadow-sm items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary m-2 mb-2 mr-1 inline-block w-100">Комбинат ҳақида умумий маълумот</a>
        <a href="/employers/online" class="transition duration-200 border shadow-sm items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary m-2 mb-2 mr-1 inline-block w-100">Ходимлар онлайн маълумоти</a>
    </center>
    <div class="grid grid-cols-12 gap-6">
        <!-- BEGIN: General Report -->
        <div class="col-span-12 mt-8">
            <div class="intro-y flex h-10 items-center">
                <h2 class="mr-5 truncate text-lg font-medium">Комбинат ҳақида умумий маълумот</h2>
                <a class="ml-auto flex items-center text-primary" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="refresh-ccw" class="lucide lucide-refresh-ccw stroke-1.5 mr-3 h-4 w-4"><path d="M21 12a9 9 0 0 0-9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"></path><path d="M3 3v5h5"></path><path d="M3 12a9 9 0 0 0 9 9 9.75 9.75 0 0 0 6.74-2.74L21 16"></path><path d="M16 16h5v5"></path></svg>
                    Reload Data
                </a>
            </div>
            <div class="mt-5 grid grid-cols-12 gap-6">
                <div class="intro-y col-span-12 sm:col-span-6 xl:col-span-3">
                    <div class="relative zoom-in before:box before:absolute before:inset-x-3 before:mt-3 before:h-full before:bg-slate-50 before:content-['']">
                        <div class="box p-5">
                            <div class="flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="user" class="lucide lucide-user stroke-1.5 h-[28px] w-[28px] text-success"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                <div class="ml-auto">
                                    <div data-placement="top" class="tooltip cursor-pointer flex items-center rounded-full bg-success py-[3px] pl-2 pr-1 text-xs font-medium text-white">22%
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="chevron-up" class="lucide lucide-chevron-up stroke-1.5 ml-0.5 h-4 w-4"><path d="m18 15-6-6-6 6"></path></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-6 text-3xl font-medium leading-8">15 548</div>
                            <div class="mt-1 text-base text-slate-500">
                                Комбинатда жами ходимлар сони
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro-y col-span-12 sm:col-span-6 xl:col-span-3">
                    <div class="relative zoom-in before:box before:absolute before:inset-x-3 before:mt-3 before:h-full before:bg-slate-50 before:content-['']">
                        <div class="box p-5">
                            <div class="flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="user" class="lucide lucide-user stroke-1.5 h-[28px] w-[28px] text-success"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                <div class="ml-auto">
                                    <div data-placement="top" class="tooltip cursor-pointer flex items-center rounded-full bg-success py-[3px] pl-2 pr-1 text-xs font-medium text-white">22%
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="chevron-up" class="lucide lucide-chevron-up stroke-1.5 ml-0.5 h-4 w-4"><path d="m18 15-6-6-6 6"></path></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-6 text-3xl font-medium leading-8">1 210</div>
                            <div class="mt-1 text-base text-slate-500">
                                Марказий корхона
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro-y col-span-12 sm:col-span-6 xl:col-span-3">
                    <div class="relative zoom-in before:box before:absolute before:inset-x-3 before:mt-3 before:h-full before:bg-slate-50 before:content-['']">
                        <div class="box p-5">
                            <div class="flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="user" class="lucide lucide-user stroke-1.5 h-[28px] w-[28px] text-success"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                <div class="ml-auto">
                                    <div data-placement="top" class="tooltip cursor-pointer flex items-center rounded-full bg-success py-[3px] pl-2 pr-1 text-xs font-medium text-white">22%
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="chevron-up" class="lucide lucide-chevron-up stroke-1.5 ml-0.5 h-4 w-4"><path d="m18 15-6-6-6 6"></path></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-6 text-3xl font-medium leading-8">6 054</div>
                            <div class="mt-1 text-base text-slate-500">
                                Филиал 1 Ангрен кони
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro-y col-span-12 sm:col-span-6 xl:col-span-3">
                    <div class="relative zoom-in before:box before:absolute before:inset-x-3 before:mt-3 before:h-full before:bg-slate-50 before:content-['']">
                        <div class="box p-5">
                            <div class="flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="user" class="lucide lucide-user stroke-1.5 h-[28px] w-[28px] text-success"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                <div class="ml-auto">
                                    <div data-placement="top" class="tooltip cursor-pointer flex items-center rounded-full bg-success py-[3px] pl-2 pr-1 text-xs font-medium text-white">22%
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="chevron-up" class="lucide lucide-chevron-up stroke-1.5 ml-0.5 h-4 w-4"><path d="m18 15-6-6-6 6"></path></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-6 text-3xl font-medium leading-8">7 295</div>
                            <div class="mt-1 text-base text-slate-500">
                                Филиал 2 Олмалиқ кони
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- END: General Report -->
        <!-- BEGIN: Sales Report -->
        <div class="col-span-12 mt-8 lg:col-span-6">
            <div class="intro-y block h-10 items-center sm:flex">
                <h2 class="mr-5 truncate text-lg font-medium">Ходимлар сонини ўсиши</h2>
                <div class="relative mt-3 text-slate-500 sm:ml-auto sm:mt-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="calendar" class="lucide lucide-calendar stroke-1.5 absolute inset-y-0 left-0 z-10 my-auto ml-3 h-4 w-4"><rect width="18" height="18" x="3" y="4" rx="2" ry="2"></rect><line x1="16" x2="16" y1="2" y2="6"></line><line x1="8" x2="8" y1="2" y2="6"></line><line x1="3" x2="21" y1="10" y2="10"></line></svg>
                    <input type="text" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&amp;[readonly]]:bg-slate-100 [&amp;[readonly]]:cursor-not-allowed [&amp;[readonly]]:dark:bg-darkmode-800/50 [&amp;[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&amp;:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 datepicker !box pl-10 sm:w-56">
                </div>
            </div>
            <div class="intro-y box mt-12 p-5 sm:mt-5">
                <div class="flex flex-col md:flex-row md:items-center">
                    <div class="flex">
                        <div>
                            <div class="text-lg font-medium text-primary dark:text-slate-300 xl:text-xl">
                                Қабул қилинган 56<br>
                                Бўшаган 12
                            </div>
                            <div class="mt-0.5 text-slate-500">Жорий ой</div>
                        </div>
                        <div class="mx-4 h-12 w-px border border-r border-dashed border-slate-200 dark:border-darkmode-300 xl:mx-5">
                        </div>
                        <div>
                            <div class="text-lg font-medium text-slate-500 xl:text-xl">
                                Қабул қилинган 30<br>
                                Бўшаган 3
                            </div>
                            <div class="mt-0.5 text-slate-500">Аввалги ой</div>
                        </div>
                    </div>

                </div>
                <div class="relative before:content-[''] before:block before:absolute before:w-16 before:left-0 before:top-0 before:bottom-0 before:ml-10 before:mb-7 before:bg-gradient-to-r before:from-white before:via-white/80 before:to-transparent before:dark:from-darkmode-600 after:content-[''] after:block after:absolute after:w-16 after:right-0 after:top-0 after:bottom-0 after:mb-7 after:bg-gradient-to-l after:from-white after:via-white/80 after:to-transparent after:dark:from-darkmode-600">

                    <div class="w-auto h-[400px]">
                        <canvas class="chart line-chart line-chart" style="display: block; box-sizing: border-box; height: 400px; width: 537px;" width="672" height="500"></canvas>
                    </div>

                </div>
            </div>
        </div>
        <!-- END: Sales Report -->
        <!-- BEGIN: Weekly Top Seller -->
        <div class="col-span-12 mt-8 sm:col-span-6 lg:col-span-3">
            <div class="intro-y flex h-10 items-center">
                <h2 class="mr-5 truncate text-lg font-medium">Ходимларни ёшлар бўйича статистикаси</h2>
            </div>
            <div class="intro-y box mt-5 p-5">
                <div class="mt-3">
                    <div class="w-auto h-[213px]">
                        <canvas id="report-pie-chart" class="chart" width="295" height="266" style="display: block; box-sizing: border-box; height: 213px; width: 236px;"></canvas>
                    </div>
                </div>
                <div class="mx-auto mt-8 w-52 sm:w-auto">
                    <div class="flex items-center">
                        <div class="mr-3 h-2 w-2 rounded-full bg-primary"></div>
                        <span class="truncate">17 - 30 ёш</span>
                        <span class="ml-auto font-medium">62%</span>
                    </div>
                    <div class="mt-4 flex items-center">
                        <div class="mr-3 h-2 w-2 rounded-full bg-pending"></div>
                        <span class="truncate">31 - 50 ёш</span>
                        <span class="ml-auto font-medium">33%</span>
                    </div>
                    <div class="mt-4 flex items-center">
                        <div class="mr-3 h-2 w-2 rounded-full bg-warning"></div>
                        <span class="truncate">&gt;= 50 ёш</span>
                        <span class="ml-auto font-medium">10%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Weekly Top Seller -->
        <!-- BEGIN: Sales Report -->
        <div class="col-span-12 mt-8 sm:col-span-6 lg:col-span-3">
            <div class="intro-y flex h-10 items-center">
                <h2 class="mr-5 truncate text-lg font-medium">Гендер статистикаси</h2>
            </div>
            <div class="intro-y box mt-5 p-5">
                <div class="mt-3">
                    <div class="w-auto h-[213px]">
                        <canvas id="report-donut-chart" class="chart" width="295" height="266" style="display: block; box-sizing: border-box; height: 213px; width: 236px;"></canvas>
                    </div>
                </div>
                <div class="mx-auto mt-8 w-52 sm:w-auto">
                    <div class="flex items-center">
                        <div class="mr-3 h-2 w-2 rounded-full bg-primary"></div>
                        <span class="truncate">Эркак киши</span>
                        <span class="ml-auto font-medium">62%</span>
                    </div>
                    <div class="mt-4 flex items-center">
                        <div class="mr-3 h-2 w-2 rounded-full bg-pending"></div>
                        <span class="truncate">Аёл киши</span>
                        <span class="ml-auto font-medium">33%</span>
                    </div>

                </div>
            </div>
        </div>
        <!-- END: Sales Report -->

        <!-- BEGIN: General Report -->
        <div class="col-span-12 mt-8 grid grid-cols-12 gap-6">
            <div class="intro-y col-span-12 sm:col-span-6 2xl:col-span-3">
                <div class="box zoom-in p-5">
                    <div class="flex items-center">
                        <div class="w-2/4 flex-none">
                            <div class="truncate text-lg font-medium">Фаол/нофаол <br>ходимлар</div>
                            <div class="mt-1 text-slate-500">
                                Ишда 13 300
                                Таътилда, касалликда, декретда 200
                            </div>
                        </div>
                        <div class="relative ml-auto flex-none">
                            <div class="w-[90px] h-[90px]">
                                <canvas class="chart report-donut-chart-1" width="112" height="112" style="display: block; box-sizing: border-box; height: 90px; width: 90px;"></canvas>
                            </div>
                            <div class="absolute left-0 top-0 flex h-full w-full items-center justify-center font-medium">
                                98%/2%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-y col-span-12 sm:col-span-6 2xl:col-span-3">
                <div class="box zoom-in p-5">
                    <div class="flex">
                        <div class="mr-3 truncate text-lg font-medium">
                            Бошқа турдаги<br> статистика
                        </div>
                        <div class="ml-auto flex cursor-pointer items-center truncate rounded-full bg-slate-100 px-2 py-1 text-xs text-slate-500 dark:bg-darkmode-400">
                            320
                        </div>
                    </div>
                    <div class="mt-1">
                        <div class="w-auto h-[58px]">
                            <canvas class="chart simple-line-chart-1 -ml-1" width="300" height="72" style="display: block; box-sizing: border-box; height: 58px; width: 240px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-y col-span-12 sm:col-span-6 2xl:col-span-3">
                <div class="box zoom-in p-5">
                    <div class="flex items-center">
                        <div class="w-2/4 flex-none">
                            <div class="truncate text-lg font-medium">Бошқа турдаги<br> статистика</div>
                            <div class="mt-1 text-slate-500">1450 </div>
                        </div>
                        <div class="relative ml-auto flex-none">
                            <div class="w-[90px] h-[90px]">
                                <canvas class="chart report-donut-chart-1" width="112" height="112" style="display: block; box-sizing: border-box; height: 90px; width: 90px;"></canvas>
                            </div>
                            <div class="absolute left-0 top-0 flex h-full w-full items-center justify-center font-medium">
                                45%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-y col-span-12 sm:col-span-6 2xl:col-span-3">
                <div class="box zoom-in p-5">
                    <div class="flex">
                        <div class="mr-3 truncate text-lg font-medium">Бошқа турдаги<br> статистика</div>
                        <div class="ml-auto flex cursor-pointer items-center truncate rounded-full bg-slate-100 px-2 py-1 text-xs text-slate-500 dark:bg-darkmode-400">
                            180
                        </div>
                    </div>
                    <div class="mt-1">
                        <div class="w-auto h-[58px]">
                            <canvas class="chart simple-line-chart-1 -ml-1" width="300" height="72" style="display: block; box-sizing: border-box; height: 58px; width: 240px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: General Report -->

    </div>
</div>
            </div>
        </div>