<div
  class="md:max-w-auto min-h-screen min-w-0 max-w-full flex-1 rounded-[30px] bg-slate-100 px-4 pb-10 before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]"
>
  <!-- BEGIN: Top Bar -->

  <!-- END: Top Bar -->
  <div class='grid grid-cols-12 gap-6'>
    <div class='col-span-12 mt-8'>

      <div id='map' class='maplibregl-map'>
        <div id='left' class='sidebar flex-center left collapsed'>
          <div class='sidebar-content rounded-rect flex-center'>

            <div
              id='markerList'
              style='margin:5px; padding: 5px; overflow-y: auto;'
            >
              {{#each factory}}
                <div class='intro-x'>
                  <div
                    class='box zoom-in mb-1 flex items-center px-1 py-1'
                    onclick='flyToMarker([{{this.coords}}])'
                  >
                    <div
                      class='image-fit h-10 w-10 flex-none overflow-hidden rounded-full'
                    >
                      <img
                        src='../../../public/image/marker2.png'
                        alt='Marker'
                      />
                    </div>
                    <div class='ml-4 mr-auto'>
                      <div class='font-small'>{{this.name}}</div>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>

            <div
              class='sidebar-toggle rounded-rect left'
              style='font-size: 2em'
              onclick="toggleSidebar('left')"
            >
              →
            </div>
          </div>
        </div>

        <div
          class='maplibregl-canvas-container maplibregl-interactive maplibregl-touch-drag-pan maplibregl-touch-zoom-rotate'
        >
          <canvas
            class='maplibregl-canvas'
            tabindex='0'
            aria-label='Map'
            role='region'
            width='1478'
            height='447'
            style='width: 1183px; height: 358px;'
          ></canvas><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(409px, 401px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          /><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(816px, 215px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          /><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(762px, 269px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          /><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(755px, 275px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          /><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(743px, 278px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          /><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(558px, 385px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          /><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(371px, 327px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          /><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(293px, 182px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          /><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(218px, 31px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          /><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(486px, 315px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          /><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(281px, 196px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          /><img
            src='../../../public/image/marker.png'
            class='maplibregl-marker maplibregl-marker-anchor-center'
            tabindex='0'
            aria-label='Map marker'
            style='width: 64px; height: 64px; cursor: pointer; transform: translate(-50%, -50%) translate(406px, 275px) rotateX(0deg) rotateZ(0deg); opacity: 1;'
          />
        </div>
        <div class='maplibregl-control-container'>
          <div class='maplibregl-ctrl-top-left'></div>
          <div class='maplibregl-ctrl-top-right'>
            <div class='maplibregl-ctrl maplibregl-ctrl-group'><button
                class='maplibregl-ctrl-zoom-in'
                type='button'
                title='Zoom in'
                aria-label='Zoom in'
                aria-disabled='false'
              ><span
                  class='maplibregl-ctrl-icon'
                  aria-hidden='true'
                ></span></button><button
                class='maplibregl-ctrl-zoom-out'
                type='button'
                title='Zoom out'
                aria-label='Zoom out'
                aria-disabled='false'
              ><span
                  class='maplibregl-ctrl-icon'
                  aria-hidden='true'
                ></span></button><button
                class='maplibregl-ctrl-compass'
                type='button'
                title='Reset bearing to north'
                aria-label='Reset bearing to north'
              ><span
                  class='maplibregl-ctrl-icon'
                  aria-hidden='true'
                  style='transform: rotate(0deg);'
                ></span></button></div>
            <div class='maplibregl-ctrl maplibregl-ctrl-group'><button
                class='maplibregl-ctrl-icon'
                type='button'
                title='Toggle Satellite'
              >🛰️</button></div>
          </div>
          <div class='maplibregl-ctrl-bottom-left'></div>
          <div class='maplibregl-ctrl-bottom-right'>
            <details
              class='maplibregl-ctrl maplibregl-ctrl-attrib maplibregl-compact maplibregl-compact-show'
              open=''
            >
              <summary
                class='maplibregl-ctrl-attrib-button'
                title='Toggle attribution'
                aria-label='Toggle attribution'
              >
              </summary>
              <div class='maplibregl-ctrl-attrib-inner'><a
                  href='https://maplibre.org/'
                  target='_blank'
                >MapLibre</a>
                |
                <a href='https://www.maptiler.com/copyright/' target='_blank'>©
                  MapTiler</a>
                <a
                  href='https://www.openstreetmap.org/copyright'
                  target='_blank'
                >© OpenStreetMap contributors</a>
              </div>
            </details>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>