<html lang='uz'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>404 - Саҳифа топилмади</title>
    <script src='https://cdn.tailwindcss.com'></script>
    <link rel='stylesheet' href='../../public/css/app.css' />

  </head>
  <body class='bg-white min-h-screen flex items-center justify-center'>
    <div class='flex flex-col items-center justify-center w-full'>
      <h1 class='text-5xl font-bold text-primary mb-4 text-center'>404</h1>
      <h2 class='text-2xl font-semibold mb-2 text-center'>Саҳифа топилмади</h2>
      <p class='mb-6 text-slate-500 text-center'>
        Кечирасиз, сўралган саҳифа мавжуд эмас ёки ўчирилган.
      </p>
      <a
        href='/'
        class='bg-primary text-white px-6 py-2 rounded hover:opacity-70 transition text-center'
      >Бош саҳифага қайтиш</a>
    </div>
  </body>
</html>