<div
  class="md:max-w-auto min-h-screen min-w-0 max-w-full flex-1 rounded-[30px] bg-slate-100 px-4 pb-10 before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]"
>
  <!-- BEGIN: Top Bar -->

  <!-- END: Top Bar -->
  <div class='grid grid-cols-12 gap-6'>
    <div class='col-span-12 mt-8'>
      <div
        role='alert'
        class='alert relative border rounded-md px-5 py-4 bg-primary border-primary text-white dark:border-primary mb-2 flex items-center'
      ><svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
          data-lucide='alert-circle'
          class='lucide lucide-alert-circle stroke-1.5 mr-2 h-6 w-6'
        ><circle cx='12' cy='12' r='10'></circle><line
            x1='12'
            x2='12'
            y1='8'
            y2='12'
          ></line><line x1='12' x2='12.01' y1='16' y2='16'></line></svg>
        Ушбу модул ишлаб чиқиш жараёнида</div>
    </div>  

  </div>
</div>